*{
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    color:aliceblue
}

/* from W3Schools.com */
@font-face {
    font-family: myFont;
    src: url('Sectar.otf');
}

body {
    background: #050505; /*#050505    #060C14*/
}

.title {
    color: #33ff00 ;
    text-align: center;
    font-size: 70px;
    font-family: myFont;
    letter-spacing: 16px;
}

.box {
    width: 50%;
    padding: 5px;
    margin: auto;
    background-color: #c3dbdb;
    color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* dvh signifie dynamic viewport height 
   (ex : taille % - bouton) 
   https://believemy.com/fr/r/tout-comprendre-sur-les-unitees-lvh-svh-et-dvh-avec-css
*/
model-viewer {
    height: 70dvh;
    width: 100%;
}

.nav-link {
  padding: 0.7rem 1.1rem;
  border-radius: 999px;
  color: #16324f;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}
